:root {
  --primary-color-light: #FFFFFF;
  --primary-color-dark: #141414;
  --secondary-color-light: #e0e0e0;
  --secondary-color-dark: #404040;
  --accent-color: #ff5722; /* Main theme color */
  --text-color-light: #000000;
  --text-color-dark: #F1F0EA;
  --text-color-dark2: #abaaa7;
  --font-family: "Inter", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Removes ugly blue highlight on links */
a {
  text-decoration: none;
  color: var(--text-color-light);
}

.fixTop {
  position: fixed;
  color: var(--text-color-light);
  padding: 1rem 1rem 0 1rem;
  top: 0;
  width: 100%;
  font-weight: 600;
  z-index: 50;
}
.navbar {
  background-color: var(--primary-color-light) 50% transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-width: 1px;
  border-style: solid;
  border-color: var(--secondary-color-dark);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  color: var(--text-color-light);
}
.navLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.navItems {
  flex-direction: row;
  white-space: nowrap;
  gap: calc(.25rem * 8);
}

#spacingNav {
  height: 5rem;
}
#spacingMain {
  height: 1000px;
}
.mainContent {
  height: 100%;
  flex: 1 1 0%;
}

header {
  background-color: grey;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0px;
  left: 0px;
}

body {
  background-color: var(--primary-color-light);
  color: var(--text-color-light);
  background-image: url("img/bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
  display: flex;
}
li {
  padding: 5px;
}
h1 {
  font-size: 40px;
  margin-bottom: 0px;
  position: absolute;
  top: 90px;
}
p1 {
  font-size: 11px;
  margin-top: -20px;
  position: absolute;
  top: 230px;
}

p2 {
  font-size: 20px;
  position: absolute;
  top: 350px;
}

img {
  position: absolute;
}

.map {
  width: 400px;
  height: 400px;
  top: 350px;
  left: 244px;
}

/* Fix later
.footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color-dark);
  color: var(--text-color-dark2);
  text-align: center;
  padding: 10px;
}
  */